	<!-- creating HTML elements -->
	<% li = "" %>
	<% @hashes.keys.sort.each do |college| %>
		<% li += "<li class='icon icon-arrow-left'><a class='icon icon-display college' href= '#'>" %>
		<% li += college + "</a><div class='mp-level'><h2 class='icon icon-display'>" + college %>
		<% li += "</h2><a class='mp-back' href ='#'>back</a><ul>" %>

		<% @hashes[college].keys.sort.each do |department| %>
			<% li += "<li class='icon icon-arrow-left'><a class = 'icon department' href='#'>" %>
			<% li += department + "</a><div class='mp-level'><h2>" + department +"</h2>" %>
			<% li += "<a class='mp-back' href='#'>back</a><ul>" %>
			<% @hashes[college][department].each do |num| %>
				<% li += "<li><a href='#'>" + num.to_s + "</a></li>" %>
			<% end %>
			<% li += "</ul></div></li>" %>
		<% end %>
		<% li += "</ul></div></li>" %>
	<% end %>

	<!-- Push Wrapper -->
	<div class="mp-pusher" id="mp-pusher">
		<!-- mp-menu -->
		<nav id="mp-menu" class="mp-menu">
			<div class="mp-level">
				<h2 class="icon icon-world">College</h2>
				<ul>
					<!-- loaded from previous preparation -->
					<%= li.html_safe %>
				</ul>
			</div>
		</nav>

		<div class="scroller-inner">
			<!-- header here -->
			<%= render 'layouts/header' %>

			<div class="content clearfix">
				<table>
				<div class="block block-60">
					<p>Looking to <strong>buy</strong>?</p>
					
					<p1><a href="#" id="trigger" class="menu-trigger">Browse all textbooks</a></p1><br><br><br><br>
					<p>Looking to <strong>sell</strong>? </p>
					<p1>Fill out the form below to sell a book. </p1>
				</div>
				<div class ="block block-40" id="Description">
					 <p2>Welcome to the College Book Exchange! Save money and paper by buying or selling used textbooks. Browse textbooks for sale by college, department, and course, or post your own to sell.</p2> 
				</div>
				</table>
			</div>
		</div><!-- /scroller-inner -->
		<div id ="loadItems" class="clearfix"></div>
	</div>
